.container, .container * {
    margin: 0;
    padding: 0;
}
.container {
    width: 265px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.slider {
    position: absolute;
}
.slider li {
    list-style: none;
    display: inline;
}
.slider img {
    width: 265px;
    height: 200px;
    display: block;
}
.slider2 {
    width: 2000px;
}
.slider2 li {
    float: left;
}
.container_60_2, .container_60_2 * {
    margin: 0;
    padding: 0;
}
.container_60_2 {
    width: 688px;
    height: 256px;
    overflow: hidden;
    position: relative;
}
.slider_60_2 {
    position: absolute;
}
.slider_60_2 li {
    list-style: none;
    display: inline;
}
.slider_60_2 img {
    width: 688px;
    height: 256px;
    display: block;
}
.slider2_60_2 {
    width: 2400px;
}
.slider2_60_2 li {
    float: left;
}
.num {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.num li {
    float: left;
    color: #ff7300;
    text-align: center;
    line-height: 16px;
    width: 16px;
    height: 16px;
    font-family: arial;
    font-size: 12px;
    cursor: pointer;
    overflow: hidden;
    margin: 3px 1px;
    border: 1px solid #ff7300;
    background-color: #fff;
}
.num li.on {
    color: #fff;
    line-height: 21px;
    width: 21px;
    height: 21px;
    font-size: 16px;
    margin: 0 1px;
    border: 0;
    background-color: #ff7300;
    font-weight: bold;
}
.sleft {
    float: left;
    width: 640px;
}
.clear2 {
    height: 5px;
    font-size: 1px;
    clear: both;
}
.sleft01 {
    float: left;
    width: 630px;
}
.sleft0101 {
    float: left;
    width: 274px;
}
.sleft016002 {
    float: left;
    width: 700px;
}
.sleft0102 {
    float: left;
    width: 265px;
}
.sleft02 {
    float: left;
    width: 356px;
    background-image: url(/images/bg02.jpg);
    background-repeat: no-repeat;
    height: 30px;
    line-height: 25px;
}
.sleft03 {
    float: left;
    width: 356px;
}
.sleft04 {
    float: left;
    width: 630px;
    background-image: url(/images/bg003.jpg);
    background-repeat: no-repeat;
    height: 30px;
    line-height: 30px;
}
.sleft05 {
    float: left;
    width: 607px;
    border: solid 1px #d1d1d1;
    padding: 10px;
    overflow: hidden
}
.td01 {
    background-color: #f4f4f4;
    height: 33px;
    border-bottom: solid 1px #cdcdcd;
    text-align: center
}
.td02 {
    height: 35px;
    border-bottom: dotted 1px #cdcdcd;
    text-align: center;
}
.td020 {
    color: #fb0200
}
.td03 {
    height: 35px;
    text-align: center;
}
.td021 a {
    line-height: 30px;
    background-color: #be1011;
    padding: 5px;
}
.sleft06 {
    float: left;
    width: 624px;
    background-image: url(/images/bg_00.jpg);
    background-repeat: no-repeat;
    line-height: 30px;
    overflow: hidden;
    padding-left: 6px;
}
.sleft06_01 {
    float: left;
    width: 128px;
    height: 27px;
    background-image: url(/images/bg_01.jpg);
    background-repeat: no-repeat;
    text-align: center;
}
.sleft06_02 {
    float: left;
    width: 128px;
    height: 27px;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(/images/bg_02.jpg);
    background-repeat: no-repeat;
}
.sleft08 {
    line-height: 21px;
    float: left;
    width: 597px;
    border: solid 1px #d1d1d1;
    padding: 10px;
    padding-left: 20px;
}
.sleft08 div {
    border: dashed 1px #dedede;
    padding: 10px;
    background-color: #f7f7f7;
    float: left;
    padding-left: 30px;
    width: 540px;
}
.sleft08 div ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.sleft08 div li {
    float: left;
    width: 110px;
}
.sleft08 div li, .sleft08 div li a:link, .sleft08 div li a:visited {
    font-size: 12px;
    color: #444444;
    text-decoration: none;
}
.sleft08 div li a:hover {
    font-size: 12px;
    color: #444444;
    text-decoration: underline;
}
.sleft07 {
    float: left;
    width: 617px;
    border: solid 1px #d1d1d1;
    background-image: url(/images/bg04.jpg);
    background-position: center;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border-top: none;
}
.sleft09 {
    float: left;
    width: 630px;
    background-image: url(/images/bg05.jpg);
    background-repeat: no-repeat;
    height: 35px;
    line-height: 35px;
}
.td10 {
    background-color: #f4f4f4;
    height: 33px;
    border-bottom: dashed 1px #cdcdcd;
    text-align: center
}
.link1444, .link1444 a:link, .link1444 a:visited {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    text-decoration: none;
}
.link1444 a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    text-decoration: underline;
}
.link1244, .link1244 a:link, .link1244 a:visited {
    font-size: 12px;
    color: #444444;
    text-decoration: none;
}
.link1244 a:hover {
    font-size: 12px;
    color: #444444;
    text-decoration: underline;
}
.link1404, .link1404 a:link, .link1404 a:visited {
    font-size: 14px;
    font-weight: bold;
    color: #0438a5;
    text-decoration: none;
}
.link1404 a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #0438a5;
    text-decoration: underline;
}
.link14wbold {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.link14wbold a:link, .link14wbold a:visited {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.link14wbold a:hover {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
.link12pxw, .link12pxw a:link, .link12pxw a:visited {
    font-size: 12px;
    color: #fececc;
    text-decoration: none;
}
.link12pxw a:hover {
    font-size: 12px;
    color: #fececc;
    text-decoration: underline;
}
div.scott {
    clear: both;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    margin: 3px;
    padding-top: 3px;
    text-align: right
}
div.scott a {
    border-right: #ddd 1px solid;
    padding-right: 5px;
    border-top: #ddd 1px solid;
    padding-left: 5px;
    padding-bottom: 2px;
    border-left: #ddd 1px solid;
    color: #adaeb0;
    margin-right: 2px;
    padding-top: 2px;
    border-bottom: #ddd 1px solid;
    text-decoration: none
}
div.scott a:hover {
    border-right: #fe9901 1px solid;
    border-top: #fe9901 1px solid;
    border-left: #fe9901 1px solid;
    color: #adaeb0;
    border-bottom: #fe9901 1px solid;
    background-color: #f1ffd6
}
div.scott a:active {
    border-right: #85bd1e 1px solid;
    border-top: #85bd1e 1px solid;
    border-left: #85bd1e 1px solid;
    color: #638425;
    border-bottom: #85bd1e 1px solid;
    background-color: #f1ffd6
}
div.scott span.current {
    border-right: #adaeb0 1px solid;
    padding-right: 5px;
    border-top: #adaeb0 1px solid;
    padding-left: 5px;
    font-weight: bold;
    padding-bottom: 2px;
    border-left: #adaeb0 1px solid;
    color: #fff;
    margin-right: 2px;
    padding-top: 2px;
    border-bottom: #adaeb0 1px solid;
    background-color: #fe9901
}
div.scott span.disabled {
    border-right: #f3f3f3 1px solid;
    padding-right: 5px;
    border-top: #f3f3f3 1px solid;
    padding-left: 5px;
    padding-bottom: 2px;
    border-left: #f3f3f3 1px solid;
    color: #ccc;
    margin-right: 2px;
    padding-top: 2px;
    border-bottom: #f3f3f3 1px solid
}
.link14px043 {
    font-size: 14px;
    color: #0438a5;
    text-decoration: none;
    font-weight: bold;
}
.link14px043 a:link, .link14px043 a:visited {
    font-size: 14px;
    font-weight: bold;
    color: #0438a5;
    text-decoration: none;
}
.link14px043 a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #0438a5;
    text-decoration: underline;
}
.sright1 {
    float: left;
    width: 278px;
    padding: 10px;
    background-color: #f8f8f8;
    overflow: hidden
}
.sright1 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.sright1 li {
    padding: 0px;
    margin: 0px;
    line-height: 23px;
    border-bottom: dashed 1px #cdcdcd;
    list-style: none;
}
.link1244, .link1244 a:link, .link1244 a:visited {
    font-size: 12px;
    color: #444444;
    text-decoration: none;
}
.link1244 a:hover {
    font-size: 12px;
    color: #444444;
    text-decoration: underline;
}
.sright1 {
    float: left;
    width: 278px;
    padding: 10px;
    background-color: #f8f8f8;
    overflow: hidden
}
.sright1 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.sright1 li {
    padding: 0px;
    margin: 0px;
    line-height: 23px;
    border-bottom: dashed 1px #cdcdcd;
    list-style: none;
}
.sright05 {
    float: left;
    width: 236px;
    background-image: url(/images/bg11.jpg);
    background-repeat: no-repeat;
    height: 30px;
    line-height: 30px;
    padding-left: 42px;
}
.sright05 div {
    float: left;
    width: 115px;
}
.link002 {
    font-size: 12px;
    font-weight: normal;
    color: #5d030f;
    text-decoration: none;
}
.link002 a:link, .link002 a:visited {
    font-size: 12px;
    font-weight: normal;
    color: #5d030f;
    text-decoration: none;
}
.link002 a:hover {
    font-size: 12px;
    font-weight: normal;
    color: #5d030f;
    text-decoration: underline;
}
#lianxitab td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
#lianxitab {
    margin-left: 10px;
}
.b593 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg003.jpg);
    background-repeat: repeat-x;
    color: #ffffff;
    padding-left: 40px;
    font-weight: bold;
}
.more593 {
    float: right;
    margin-right: 10px;
}
.b594 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg003.jpg);
    background-repeat: repeat-x;
    color: #ffffff;
    padding-left: 40px;
    font-weight: bold;
}
.more594 {
    float: right;
    margin-right: 10px;
}
.linkdddddd {
    font-size: 12px;
    color: #dddddd;
    text-decoration: none;
    font-weight: normal;
}
.linkdddddd a:link, .linkdddddd a:visited {
    font-size: 12px;
    color: #dddddd;
    text-decoration: none;
    font-weight: normal;
}
.linkdddddd a:hover {
    font-size: 12px;
    color: #dddddd;
    text-decoration: underline;
    font-weight: normal;
}
.b598 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more598 {
    float: right;
    margin-right: 10px;
}
.b601 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more601 {
    float: right;
    margin-right: 10px;
}
.b839 {
    font-weight: normal;
}
.more839 {
    float: right;
    margin-right: 10px;
}
#lianxitab td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
#lianxitab {
    margin-left: 10px;
}
.link1244, .link1244 a:link, .link1244 a:visited {
    font-size: 12px;
    color: #444444;
    text-decoration: none;
}
.link1244 a:hover {
    font-size: 12px;
    color: #444444;
    text-decoration: underline;
}
.s2 {
    padding-left: 20px;
    overflow: hidden;
    float: left;
    width: 607px;
    padding: 10px;
    overflow: hidden
}
.s2 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.s2 li {
    line-height: 30px;
    padding-left: 10px;
    float: left;
    width: 586px;
}
.s3 {
    padding-bottom: 10px;
    border-bottom: dashed 1px #adaeb0;
}
.link14a0, .link14a0 a:link, .link14a0 a:visited {
    font-size: 14px;
    font-weight: bold;
    color: #a01403;
    text-decoration: none;
}
.link14a0 a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #a01403;
    text-decoration: underline;
}
.link1201, .link1201 a:link, .link1201 a:visited {
    font-size: 12px;
    color: #013aad;
    text-decoration: none;
}
.link1201 a:hover {
    font-size: 12px;
    color: #013aad;
    text-decoration: underline;
}
.b606 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg003.jpg);
    background-repeat: repeat-x;
    color: #ffffff;
    padding-left: 40px;
    font-weight: bold;
}
.more606 {
    float: right;
    margin-right: 10px;
}
.b840 {
    font-weight: normal;
}
.more840 {
    float: right;
    margin-right: 10px;
}
.b608 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more608 {
    float: right;
    margin-right: 10px;
}
.b610 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more610 {
    float: right;
    margin-right: 10px;
}
.link1244, .link1244 a:link, .link1244 a:visited {
    font-size: 12px;
    color: #444444;
    text-decoration: none;
}
.link1244 a:hover {
    font-size: 12px;
    color: #444444;
    text-decoration: underline;
}
.s2 {
    padding-left: 20px;
    overflow: hidden;
    float: left;
    width: 607px;
    padding: 10px;
    overflow: hidden
}
.s2 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.s2 li {
    line-height: 30px;
    padding-left: 10px;
    float: left;
    width: 586px;
}
.s3 {
    padding-bottom: 10px;
    border-bottom: dashed 1px #ADAEB0;
}
.link14A0, .link14A0 a:link, .link14A0 a:visited {
    font-size: 14px;
    font-weight: bold;
    color: #A01403;
    text-decoration: none;
}
.link14A0 a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #A01403;
    text-decoration: underline;
}
.link1201, .link1201 a:link, .link1201 a:visited {
    font-size: 12px;
    color: #013AAD;
    text-decoration: none;
}
.link1201 a:hover {
    font-size: 12px;
    color: #013AAD;
    text-decoration: underline;
}
#lianxitab td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
#lianxitab {
    margin-left: 10px;
}
.sright1 {
    float: left;
    width: 278px;
    padding: 10px;
    background-color: #F8F8F8;
}
.sright1 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.sright1 li {
    padding: 0px;
    margin: 0px;
    line-height: 23px;
    border-bottom: dashed 1px #CDCDCD;
    list-style: none;
}
.sright05 {
    float: left;
    width: 236px;
    background-image: url(/images/bg11.jpg);
    background-repeat: no-repeat;
    height: 30px;
    line-height: 30px;
    padding-left: 42px;
}
.sright05 div {
    float: left;
    width: 115px;
}
.link002 {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:link, .link002 a:visited {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:hover {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: underline;
}
.b635 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg003.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 40px;
    font-weight: bold;
}
.more635 {
    float: right;
    margin-right: 10px;
}
.b842 {
    font-weight: normal;
}
.more842 {
    float: right;
    margin-right: 10px;
}
.b637 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more637 {
    float: right;
    margin-right: 10px;
}
.b641 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more641 {
    float: right;
    margin-right: 10px;
}

.QA1 {
    float: left;
    background-color: #F0F0F0;
    border-bottom: solid 1px #E4E4E4;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    width: 436px;
}
.QA2 {
    float: left;
    background-color: #F0F0F0;
    border-bottom: solid 1px #E4E4E4;
    height: 30px;
    line-height: 30px;
    padding-right: 16px;
    width: 135px;
    font-size: 14px;
    text-align: right;
}
.QA3 {
    float: left;
    width: 568px;
    padding: 10px;
    color: #25549A;
    line-height: 21px;
    padding-bottom: 0px;
}
.QA4 {
    float: left;
    width: 568px;
    padding: 10px;
    color: #434343;
    padding-bottom: 30px;
    line-height: 21px;
}
.QA5 {
    float: left;
    width: 568px;
    text-align: right
}
.QA6 {
    float: left;
    width: 568px;
    color: #434343;
    padding-top: 10px;
    line-height: 21px;
}
.link002 {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:link, .link002 a:visited {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:hover {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: underline;
}
.link14A0, .link14A0 a:link, .link14A0 a:visited {
    font-size: 14px;
    font-weight: bold;
    color: #A01403;
    text-decoration: none;
}
.link14A0 a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #A01403;
    text-decoration: underline;
}
.s6 {
    padding-left: 20px;
    overflow: hidden;
    float: left;
    width: 607px;
    border: solid 1px #D1D1D1;
    padding: 10px;
    overflow: hidden
}
.s6 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.s6 li {
    list-style: none;
}
#lianxitab td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
#lianxitab {
    margin-left: 10px;
}
.sright1 {
    float: left;
    width: 278px;
    padding: 10px;
    background-color: #F8F8F8;
    overflow: hidden
}
.sright1 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.sright1 li {
    padding: 0px;
    margin: 0px;
    line-height: 23px;
    border-bottom: dashed 1px #CDCDCD;
    list-style: none;
}
.sright05 {
    float: left;
    width: 236px;
    background-image: url(/school/images/bg11.jpg);
    background-repeat: no-repeat;
    height: 30px;
    line-height: 30px;
    padding-left: 42px;
}
.sright05 div {
    float: left;
    width: 115px;
}
.link002 {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:link, .link002 a:visited {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:hover {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: underline;
}
.b622 {
    height: 30px;
    line-height: 30px;
    background-image: url(/school/images/bg003.jpg);
    background-repeat: repeat-x;
    color: #FFFFFF;
    padding-left: 40px;
    font-weight: bold;
}
.more622 {
    float: right;
    margin-right: 10px;
}
.b841 {
    font-weight: normal;
}
.more841 {
    float: right;
    margin-right: 10px;
}
.b624 {
    height: 30px;
    line-height: 30px;
    background-image: url(/school/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more624 {
    float: right;
    margin-right: 10px;
}
.b628 {
    height: 30px;
    line-height: 30px;
    background-image: url(/school/images/bg10.jpg);
    background-repeat: repeat-x;
    padding-left: 40px;
    font-weight: bold;
}
.more628 {
    float: right;
    margin-right: 10px;
}