.container, .container * {
    margin: 0;
    padding: 0;
}
.container {
    width: 265px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.slider {
    position: absolute;
}
.slider li {
    list-style: none;
    display: inline;
}
.slider img {
    width: 265px;
    height: 200px;
    display: block;
}
.slider2 {
    width: 2000px;
}
.slider2 li {
    float: left;
}
.container_60_2, .container_60_2 * {
    margin: 0;
    padding: 0;
}
.container_60_2 {
    width: 688px;
    height: 256px;
    overflow: hidden;
    position: relative;
}
.slider_60_2 {
    position: absolute;
}
.slider_60_2 li {
    list-style: none;
    display: inline;
}
.slider_60_2 img {
    width: 688px;
    height: 256px;
    display: block;
}
.slider2_60_2 {
    width: 2400px;
}
.slider2_60_2 li {
    float: left;
}
.num {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.num li {
    float: left;
    color: #ff7300;
    text-align: center;
    line-height: 16px;
    width: 16px;
    height: 16px;
    font-family: arial;
    font-size: 12px;
    cursor: pointer;
    overflow: hidden;
    margin: 3px 1px;
    border: 1px solid #ff7300;
    background-color: #fff;
}
.num li.on {
    color: #fff;
    line-height: 21px;
    width: 21px;
    height: 21px;
    font-size: 16px;
    margin: 0 1px;
    border: 0;
    background-color: #ff7300;
    font-weight: bold;
}
.sleft {
    float: left;
    width: 640px;
}
.clear2 {
    height: 5px;
    font-size: 1px;
    clear: both;
}
.sleft01 {
    float: left;
    width: 630px;
}
.sleft0101 {
    float: left;
    width: 274px;
}
.sleft016002 {
    float: left;
    width: 700px;
}
.sleft0102 {
    float: left;
    width: 265px;
}
.sleft02 {
    float: left;
    width: 356px;
    background-image: url(/images/bg02.jpg);
    background-repeat: no-repeat;
    height: 30px;
    line-height: 25px;
}
.sleft03 {
    float: left;
    width: 356px;
}
.sleft04 {
    float: left;
    width: 630px;
    background-image: url(/images/bg003.jpg);
    background-repeat: no-repeat;
    height: 30px;
    line-height: 30px;
}
.sleft05 {
    float: left;
    width: 607px;
    border: solid 1px #d1d1d1;
    padding: 10px;
    overflow: hidden
}
.td01 {
    background-color: #f4f4f4;
    height: 33px;
    border-bottom: solid 1px #cdcdcd;
    text-align: center
}
.td02 {
    height: 35px;
    border-bottom: dotted 1px #cdcdcd;
    text-align: center;
}
.td020 {
    color: #fb0200
}
.td03 {
    height: 35px;
    text-align: center;
}
.td021 a {
    line-height: 30px;
    background-color: #be1011;
    padding: 5px;
}
.sleft06 {
    float: left;
    width: 624px;
    background-image: url(/images/bg_00.jpg);
    background-repeat: no-repeat;
    line-height: 30px;
    overflow: hidden;
    padding-left: 6px;
}
.sleft06_01 {
    float: left;
    width: 128px;
    height: 27px;
    background-image: url(/images/bg_01.jpg);
    background-repeat: no-repeat;
    text-align: center;
}
.sleft06_02 {
    float: left;
    width: 128px;
    height: 27px;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(/images/bg_02.jpg);
    background-repeat: no-repeat;
}
.sleft08 {
    line-height: 21px;
    float: left;
    width: 597px;
    border: solid 1px #d1d1d1;
    padding: 10px;
    padding-left: 20px;
}
.sleft08 div {
    border: dashed 1px #dedede;
    padding: 10px;
    background-color: #f7f7f7;
    float: left;
    padding-left: 30px;
    width: 540px;
}
.sleft08 div ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.sleft08 div li {
    float: left;
    width: 110px;
}
.sleft08 div li, .sleft08 div li a:link, .sleft08 div li a:visited {
    font-size: 12px;
    color: #444444;
    text-decoration: none;
}
.sleft08 div li a:hover {
    font-size: 12px;
    color: #444444;
    text-decoration: underline;
}
.sleft07 {
    float: left;
    width: 617px;
    border: solid 1px #d1d1d1;
    background-image: url(/images/bg04.jpg);
    background-position: center;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border-top: none;
}
.sleft09 {
    float: left;
    width: 630px;
    background-image: url(/images/bg05.jpg);
    background-repeat: no-repeat;
    height: 35px;
    line-height: 35px;
}
.td10 {
    background-color: #f4f4f4;
    height: 33px;
    border-bottom: dashed 1px #cdcdcd;
    text-align: center
}
.link1444, .link1444 a:link, .link1444 a:visited {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    text-decoration: none;
}
.link1444 a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    text-decoration: underline;
}
.link1244, .link1244 a:link, .link1244 a:visited {
    font-size: 12px;
    color: #444444;
    text-decoration: none;
}
.link1244 a:hover {
    font-size: 12px;
    color: #444444;
    text-decoration: underline;
}
.link1404, .link1404 a:link, .link1404 a:visited {
    font-size: 14px;
    font-weight: bold;
    color: #0438a5;
    text-decoration: none;
}
.link1404 a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #0438a5;
    text-decoration: underline;
}
.link14wbold {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.link14wbold a:link, .link14wbold a:visited {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.link14wbold a:hover {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
.link12pxw, .link12pxw a:link, .link12pxw a:visited {
    font-size: 12px;
    color: #fececc;
    text-decoration: none;
}
.link12pxw a:hover {
    font-size: 12px;
    color: #fececc;
    text-decoration: underline;
}
div.scott {
    clear: both;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    margin: 3px;
    padding-top: 3px;
    text-align: right
}
div.scott a {
    border-right: #ddd 1px solid;
    padding-right: 5px;
    border-top: #ddd 1px solid;
    padding-left: 5px;
    padding-bottom: 2px;
    border-left: #ddd 1px solid;
    color: #adaeb0;
    margin-right: 2px;
    padding-top: 2px;
    border-bottom: #ddd 1px solid;
    text-decoration: none
}
div.scott a:hover {
    border-right: #fe9901 1px solid;
    border-top: #fe9901 1px solid;
    border-left: #fe9901 1px solid;
    color: #adaeb0;
    border-bottom: #fe9901 1px solid;
    background-color: #f1ffd6
}
div.scott a:active {
    border-right: #85bd1e 1px solid;
    border-top: #85bd1e 1px solid;
    border-left: #85bd1e 1px solid;
    color: #638425;
    border-bottom: #85bd1e 1px solid;
    background-color: #f1ffd6
}
div.scott span.current {
    border-right: #adaeb0 1px solid;
    padding-right: 5px;
    border-top: #adaeb0 1px solid;
    padding-left: 5px;
    font-weight: bold;
    padding-bottom: 2px;
    border-left: #adaeb0 1px solid;
    color: #fff;
    margin-right: 2px;
    padding-top: 2px;
    border-bottom: #adaeb0 1px solid;
    background-color: #fe9901
}
div.scott span.disabled {
    border-right: #f3f3f3 1px solid;
    padding-right: 5px;
    border-top: #f3f3f3 1px solid;
    padding-left: 5px;
    padding-bottom: 2px;
    border-left: #f3f3f3 1px solid;
    color: #ccc;
    margin-right: 2px;
    padding-top: 2px;
    border-bottom: #f3f3f3 1px solid
}
.link14px043 {
    font-size: 14px;
    color: #0438a5;
    text-decoration: none;
    font-weight: bold;
}
.link14px043 a:link, .link14px043 a:visited {
    font-size: 14px;
    font-weight: bold;
    color: #0438a5;
    text-decoration: none;
}
.link14px043 a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #0438a5;
    text-decoration: underline;
}
.sright1 {
    float: left;
    width: 278px;
    padding: 10px;
    background-color: #f8f8f8;
    overflow: hidden
}
.sright1 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.sright1 li {
    padding: 0px;
    margin: 0px;
    line-height: 23px;
    border-bottom: dashed 1px #cdcdcd;
    list-style: none;
}
.link1244, .link1244 a:link, .link1244 a:visited {
    font-size: 12px;
    color: #444444;
    text-decoration: none;
}
.link1244 a:hover {
    font-size: 12px;
    color: #444444;
    text-decoration: underline;
}
.sright1 {
    float: left;
    width: 278px;
    padding: 10px;
    background-color: #f8f8f8;
    overflow: hidden
}
.sright1 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.sright1 li {
    padding: 0px;
    margin: 0px;
    line-height: 23px;
    border-bottom: dashed 1px #cdcdcd;
    list-style: none;
}
.sright05 {
    float: left;
    width: 236px;
    background-image: url(/images/bg11.jpg);
    background-repeat: no-repeat;
    height: 30px;
    line-height: 30px;
    padding-left: 42px;
}
.sright05 div {
    float: left;
    width: 115px;
}
.link002 {
    font-size: 12px;
    font-weight: normal;
    color: #5d030f;
    text-decoration: none;
}
.link002 a:link, .link002 a:visited {
    font-size: 12px;
    font-weight: normal;
    color: #5d030f;
    text-decoration: none;
}
.link002 a:hover {
    font-size: 12px;
    font-weight: normal;
    color: #5d030f;
    text-decoration: underline;
}
#lianxitab td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
#lianxitab {
    margin-left: 10px;
}
.b593 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg003.jpg);
    background-repeat: repeat-x;
    color: #ffffff;
    padding-left: 40px;
    font-weight: bold;
}
.more593 {
    float: right;
    margin-right: 10px;
}
.b594 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg003.jpg);
    background-repeat: repeat-x;
    color: #ffffff;
    padding-left: 40px;
    font-weight: bold;
}
.more594 {
    float: right;
    margin-right: 10px;
}
.linkdddddd {
    font-size: 12px;
    color: #dddddd;
    text-decoration: none;
    font-weight: normal;
}
.linkdddddd a:link, .linkdddddd a:visited {
    font-size: 12px;
    color: #dddddd;
    text-decoration: none;
    font-weight: normal;
}
.linkdddddd a:hover {
    font-size: 12px;
    color: #dddddd;
    text-decoration: underline;
    font-weight: normal;
}
.b598 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more598 {
    float: right;
    margin-right: 10px;
}
.b601 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more601 {
    float: right;
    margin-right: 10px;
}
.b839 {
    font-weight: normal;
}
.more839 {
    float: right;
    margin-right: 10px;
}
#lianxitab td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
#lianxitab {
    margin-left: 10px;
}
.link1244, .link1244 a:link, .link1244 a:visited {
    font-size: 12px;
    color: #444444;
    text-decoration: none;
}
.link1244 a:hover {
    font-size: 12px;
    color: #444444;
    text-decoration: underline;
}
.s2 {
    padding-left: 20px;
    overflow: hidden;
    float: left;
    width: 607px;
    padding: 10px;
    overflow: hidden
}
.s2 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.s2 li {
    line-height: 30px;
    padding-left: 10px;
    float: left;
    width: 586px;
}
.s3 {
    padding-bottom: 10px;
    border-bottom: dashed 1px #adaeb0;
}
.link14a0, .link14a0 a:link, .link14a0 a:visited {
    font-size: 14px;
    font-weight: bold;
    color: #a01403;
    text-decoration: none;
}
.link14a0 a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #a01403;
    text-decoration: underline;
}
.link1201, .link1201 a:link, .link1201 a:visited {
    font-size: 12px;
    color: #013aad;
    text-decoration: none;
}
.link1201 a:hover {
    font-size: 12px;
    color: #013aad;
    text-decoration: underline;
}
.b606 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg003.jpg);
    background-repeat: repeat-x;
    color: #ffffff;
    padding-left: 40px;
    font-weight: bold;
}
.more606 {
    float: right;
    margin-right: 10px;
}
.b840 {
    font-weight: normal;
}
.more840 {
    float: right;
    margin-right: 10px;
}
.b608 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more608 {
    float: right;
    margin-right: 10px;
}
.b610 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more610 {
    float: right;
    margin-right: 10px;
}
.link1244, .link1244 a:link, .link1244 a:visited {
    font-size: 12px;
    color: #444444;
    text-decoration: none;
}
.link1244 a:hover {
    font-size: 12px;
    color: #444444;
    text-decoration: underline;
}
.s2 {
    padding-left: 20px;
    overflow: hidden;
    float: left;
    width: 607px;
    padding: 10px;
    overflow: hidden
}
.s2 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.s2 li {
    line-height: 30px;
    padding-left: 10px;
    float: left;
    width: 586px;
}
.s3 {
    padding-bottom: 10px;
    border-bottom: dashed 1px #ADAEB0;
}
.link14A0, .link14A0 a:link, .link14A0 a:visited {
    font-size: 14px;
    font-weight: bold;
    color: #A01403;
    text-decoration: none;
}
.link14A0 a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #A01403;
    text-decoration: underline;
}
.link1201, .link1201 a:link, .link1201 a:visited {
    font-size: 12px;
    color: #013AAD;
    text-decoration: none;
}
.link1201 a:hover {
    font-size: 12px;
    color: #013AAD;
    text-decoration: underline;
}
#lianxitab td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
#lianxitab {
    margin-left: 10px;
}
.sright1 {
    float: left;
    width: 278px;
    padding: 10px;
    background-color: #F8F8F8;
}
.sright1 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.sright1 li {
    padding: 0px;
    margin: 0px;
    line-height: 23px;
    border-bottom: dashed 1px #CDCDCD;
    list-style: none;
}
.sright05 {
    float: left;
    width: 236px;
    background-image: url(/images/bg11.jpg);
    background-repeat: no-repeat;
    height: 30px;
    line-height: 30px;
    padding-left: 42px;
}
.sright05 div {
    float: left;
    width: 115px;
}
.link002 {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:link, .link002 a:visited {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:hover {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: underline;
}
.b635 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg003.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 40px;
    font-weight: bold;
}
.more635 {
    float: right;
    margin-right: 10px;
}
.b842 {
    font-weight: normal;
}
.more842 {
    float: right;
    margin-right: 10px;
}
.b637 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more637 {
    float: right;
    margin-right: 10px;
}
.b641 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more641 {
    float: right;
    margin-right: 10px;
}

.QA1 {
    float: left;
    background-color: #F0F0F0;
    border-bottom: solid 1px #E4E4E4;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    width: 436px;
}
.QA2 {
    float: left;
    background-color: #F0F0F0;
    border-bottom: solid 1px #E4E4E4;
    height: 30px;
    line-height: 30px;
    padding-right: 16px;
    width: 135px;
    font-size: 14px;
    text-align: right;
}
.QA3 {
    float: left;
    width: 568px;
    padding: 10px;
    color: #25549A;
    line-height: 21px;
    padding-bottom: 0px;
}
.QA4 {
    float: left;
    width: 568px;
    padding: 10px;
    color: #434343;
    padding-bottom: 30px;
    line-height: 21px;
}
.QA5 {
    float: left;
    width: 568px;
    text-align: right
}
.QA6 {
    float: left;
    width: 568px;
    color: #434343;
    padding-top: 10px;
    line-height: 21px;
}
.link002 {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:link, .link002 a:visited {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:hover {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: underline;
}
.link14A0, .link14A0 a:link, .link14A0 a:visited {
    font-size: 14px;
    font-weight: bold;
    color: #A01403;
    text-decoration: none;
}
.link14A0 a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #A01403;
    text-decoration: underline;
}
.s6 {
    padding-left: 20px;
    overflow: hidden;
    float: left;
    width: 607px;
    border: solid 1px #D1D1D1;
    padding: 10px;
    overflow: hidden
}
.s6 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.s6 li {
    list-style: none;
}
#lianxitab td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
#lianxitab {
    margin-left: 10px;
}
.sright1 {
    float: left;
    width: 278px;
    padding: 10px;
    background-color: #F8F8F8;
    overflow: hidden
}
.sright1 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.sright1 li {
    padding: 0px;
    margin: 0px;
    line-height: 23px;
    border-bottom: dashed 1px #CDCDCD;
    list-style: none;
}
.sright05 {
    float: left;
    width: 236px;
    background-image: url(/images/bg11.jpg);
    background-repeat: no-repeat;
    height: 30px;
    line-height: 30px;
    padding-left: 42px;
}
.sright05 div {
    float: left;
    width: 115px;
}
.link002 {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:link, .link002 a:visited {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:hover {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: underline;
}
.b622 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg003.jpg);
    background-repeat: repeat-x;
    color: #FFFFFF;
    padding-left: 40px;
    font-weight: bold;
}
.more622 {
    float: right;
    margin-right: 10px;
}
.b841 {
    font-weight: normal;
}
.more841 {
    float: right;
    margin-right: 10px;
}
.b624 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more624 {
    float: right;
    margin-right: 10px;
}
.b628 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    padding-left: 40px;
    font-weight: bold;
}
.more628 {
    float: right;
    margin-right: 10px;
}


#lianxitab td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
#lianxitab {
    margin-left: 10px;
}
.sright1 {
    float: left;
    width: 278px;
    padding: 10px;
    background-color: #F8F8F8;
    overflow: hidden
}
.sright1 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.sright1 li {
    padding: 0px;
    margin: 0px;
    line-height: 23px;
    border-bottom: dashed 1px #CDCDCD;
    list-style: none;
}
.sright05 {
    float: left;
    width: 236px;
    background-image: url(/images/bg11.jpg);
    background-repeat: no-repeat;
    height: 30px;
    line-height: 30px;
    padding-left: 42px;
}
.sright05 div {
    float: left;
    width: 115px;
}
.link002 {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:link, .link002 a:visited {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:hover {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: underline;
}
.b668 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg003.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 40px;
    font-weight: bold;
}
.more668 {
    float: right;
    margin-right: 10px;
}
.b844 {
    font-weight: normal;
}
.more844 {
    float: right;
    margin-right: 10px;
}
.b670 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more670 {
    float: right;
    margin-right: 10px;
}
.b674 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.more674 {
    float: right;
    margin-right: 10px;
}

/*整体样式*/

.title1 {
    float: left;
    width: 558px;
    height: 26px;
    line-height: 26px;
    text-align: left;
}
.title2 {
    float: left;
    width: 342px;
    height: 26px;
    line-height: 26px;
    text-align: right;
}
a {
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}
a:link, .link12px a:visited {
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}
a:hover {
    font-size: 12px;
    color: #FF6600;
    text-decoration: underline;
}
.dot {
    background-image: url(http://www.edulife.com.cn/images1/dot.gif);
    background-repeat: repeat-x;
    width: 98%;
    height: 1px;
}
/*图片切换样式*/

.focusPic {
    margin: 0 auto;
    width: 100%;
}
.focusPic .pic {
    margin: 0 auto
}
.num {
    float: left;
    width: 90px;
    padding-top: 4px;
}
.titleleft {
    line-height: 27px;
    padding-left: 25px;
    color: #353336;
    font-weight: bold;
    font-size: 14px
}
.chgdiv {
    float: left;
    width: 16px;
    text-align: center
}
.on {
    background-image: url(http://www.edulife.com.cn/images1/on.gif);
    color: White
}
.off {
    background-image: url(http://www.edulife.com.cn/images1/off.gif);
    color: White
}
.chgdiv {
    float: left
}
.chgdiv a {
    color: #fff;
}
.chgdiv a:visited {
    color: #fff;
}
.chgdiv a:hover {
    color: #ff0;
}
.chgdivO {
    float: left;
    width: 4px;
}
.chgdivOx {
    float: left;
    padding-left: 5px;
}
/*链接样式*/

.link12px {
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}
.link12px a:link, .link12px a:visited {
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}
.link12px a:hover {
    font-size: 12px;
    color: #FF6600;
    text-decoration: underline;
}
.link12px659 {
    font-size: 12px;
    color: #555555;
    text-decoration: none;
}
.link12px659 a:link, .link12px659 a:visited {
    font-size: 12px;
    color: #555555;
    text-decoration: none;
}
.link12px659 a:hover {
    font-size: 12px;
    color: #6590C5;
    text-decoration: underline;
}
.link14pxfdf {
    font-size: 14px;
    color: #fdfeff;
    text-decoration: none;
    font-weight: bold;
}
.link14pxfdf a:link, .link14pxfdf a:visited {
    font-size: 14px;
    color: #fdfeff;
    text-decoration: none;
    font-weight: bold;
}
.link14pxfdf a:hover {
    font-size: 14px;
    color: #fdfeff;
    text-decoration: underline;
    font-weight: bold;
}
.top01 {
    MARGIn-top: 8px;
    width: 900px;
    height: 90px;
    TEXT-ALIGN: left
}
.top03 {
    FLOAT: left;
    MARGIN-LEFT: 40px;
}
.top04 {
    PADDING-LEFT: 17px;
    COLOR: #1b3355;
    clear: left
}
.right01 {
    FLOAT: left;
    MARGIN-LEFT: 12px;
    WIDTH: 248px;
    HEIGHT: auto
}
.right02 {
    CLEAR: left;
    BORDER: #bcd8ee 1px solid;
    WIDTH: 246px;
    HEIGHT: auto
}
.right04 {
    padding-left: 10px;
    float: left;
    margin-top: 7px;
}
.right05 {
    MARGIN-LEFT: 10px;
    LINE-HEIGHT: 31px;
    ZOOM: 1;
    float: left
}
.right06 {
    line-height: 31px;
    float: right;
    font-weight: normal;
    margin-right: 12px;
}
.right07 {
    MARGIN-TOP: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    WIDTH: 244px;
    COLOR: #1d3456;
    HEIGHT: 31px;
    BACKGROUND-COLOR: #e3e7f2;
    TEXT-ALIGN: left;
    margin-top: 10px;
}
.courseList2 {
    width: 616px;
    background-image: url(http://www.edulife.com.cn/images1/title_left02.gif);
    height: 31px;
    line-height: 31px;
    font-weight: bold;
    background-repeat: repeat-x;
    margin-top: 9px;
    text-align: left;
    color: #555555;
}
.courseList3 {
    width: 220px;
    display: block;
    float: left;
}
.courseList4 {
    width: 175px;
    display: block;
    float: left;
}
.courseList5 {
    width: 80px;
    display: block;
    float: left;
    text-align: center
}
.courseList13 {
    width: 60px;
    display: block;
    float: left;
    text-align: center
}
.courseList6 {
    width: 616px;
    height: auto;
    text-align: left
}
.courseList7 {
    line-height: 27px;
    border-bottom: dotted 1px;
    height: 27px;
}
.courseList8 {
    line-height: 27px;
    height: 27px;
}
.courseList9 {
    width: 60px;
    display: block;
    float: left;
}
.courseList12 {
    width: 140px;
    height: 21px;
    background-color: #F0F0F0;
    line-height: 21px;
}
.courseList14 {
    width: 210px;
    display: block;
    float: left;
}
.title {
    OVERFLOW: hidden;
    WIDTH: 900px;
    HEIGHT: auto;
    TEXT-ALIGN: left
}
.title1 {
    float: left;
    width: 558px;
    height: 26px;
    line-height: 26px;
    text-align: left;
}
.title2 {
    float: left;
    width: 342px;
    height: 26px;
    line-height: 26px;
    text-align: right;
}
.title3 {
    FLOAT: left;
    WIDTH: 640px;
    HEIGHT: auto
}
.title4 {
    font-weight: bold;
    font-size: 14px;
    color: #2C519F
}
.title5 {
    line-height: 200%;
    text-align: left;
    margin-top: 8px;
}
.infor1 {
    line-height: 20px;
    height: 20px;
}
.infor3 {
    height: auto;
    overflow: hidden;
    margin-top: 10px;
    line-height: 170%;
    clear: both;
    text-align: left;
    padding: 5px;
}
.infor4 {
    float: right;
    margin-right: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
.infor5 {
    width: 98%;
    height: 10px;
    border: 0px;
    border-top: dotted 1px #ccc;
    overflow: hidden;
}
.title_left01 {
    FLOAT: left;
    MARGIN-BOTTOM: 9px;
    WIDTH: 276px;
    HEIGHT: auto
}
.title_left04 {
    PADDING-RIGHT: 5px;
    MARGIN-TOP: 5px;
    PADDING-LEFT: 5px;
    LINE-HEIGHT: 200%
}
.title_left05 {
    FLOAT: left;
    BACKGROUND-IMAGE: url(http://www.edulife.com.cn/images1/title_left01.gif);
    MARGIN-BOTTOM: 9px;
    MARGIN-LEFT: 9px;
    WIDTH: 355px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 180px
}
.title_left06 {
    MARGIN-TOP: 10px;
    WIDTH: 320px;
    HEIGHT: auto;
}
.title_left07 {
    margin-top: 15px;
    line-height: 200%;
    font-size: 14px;
    color: #27539E;
    text-align: left;
    padding-left: 18px;
    HEIGHT: auto;
}
.title_left10 {
    PADDING-LEFT: 33px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    WIDTH: 635px;
    COLOR: #0439a9;
    LINE-HEIGHT: 39px;
    HEIGHT: auto
}
.title_left11 {
    MARGIN-LEFT: 10px;
    LINE-HEIGHT: 31px;
    ZOOM: 1;
    float: left
}
.title_left12 {
    MARGIN-LEFT: 10px;
    LINE-HEIGHT: 31px;
    ZOOM: 1
}
.title_left13 {
    WIDTH: 635px;
    HEIGHT: auto;
    line-height: 200%;
}
.title_right02 {
    width: 180px;
    display: block;
    float: left;
}
.title_right03 {
    width: 50px;
    display: block;
    float: right;
}
.question01 {
    width: 608px;
    height: 29px;
    background-image: url(http://www.edulife.com.cn/images1/title_left03.gif);
    background-repeat: repeat-x;
    margin-top: 18px;
    FONT-SIZE: 14px;
    LINE-HEIGHT: 29px;
    text-align: left;
}
.question03 {
    float: right;
    padding-right: 18px;
}
.question04 {
    text-align: left;
    padding-left: 40px;
    line-height: 160%;
    margin-top: 10px;
}
/*红色方案*/

.top02 {
    BACKGROUND-IMAGE: url(http://www.edulife.com.cn/images1/title_02.jpg);
    WIDTH: 900px;
    LINE-HEIGHT: 37px;
    HEIGHT: 71px
}
.title_left14 {
    width: 4px;
    height: 13px;
    margin-left: 10px;
    margin-top: 6px;
    background-image: url(http://www.edulife.com.cn/images1/ico03.gif);
    background-repeat: no-repeat;
}
.title_left02 {
    BORDER: #F2D8D9 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    WIDTH: 274px;
    COLOR: #B50003;
    HEIGHT: 28px;
    BACKGROUND-COLOR: #FFEDE9;
    border-bottom-style: none;
}
.title_left03 {
    BORDER: #F2D8D9 1px solid;
    WIDTH: 274px;
    HEIGHT: 149px
}
.title_left15 {
    line-height: 30px;
    height: 30px;
    text-align: left;
    margin-left: 24px;
    font-weight: bold;
    color: #B50003;
    font-size: 14px;
}
.title_left09 {
    MARGIN-TOP: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    WIDTH: 635px;
    COLOR: #B50003;
    HEIGHT: 31px;
    BACKGROUND-COLOR: #FFEDE9;
    TEXT-ALIGN: left
}
.title4 {
    font-weight: bold;
    font-size: 14px;
    color: #D20004;
}
.title_left08 {
    CLEAR: left;
    BORDER: #F2D8D9 1px solid;
    WIDTH: 638px;
    HEIGHT: auto
}
.courseList1 {
    width: 635px;
    height: 31px;
    background-color: #FFEDE9;
    margin-top: 1px;
    font-size: 18px;
    font-weight: bold;
    color: #B50003;
    text-align: left;
    line-height: 31px;
}
.courseList {
    clear: left;
    width: 638px;
    height: auto;
    border: solid 1px #F2D8D9;
    margin-top: 9px;
}
.question02 {
    padding-left: 32px;
    float: left;
    COLOR: #D20004;
    FONT-WEIGHT: bold;
}
.right03 {
    MARGIN-TOP: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    WIDTH: 244px;
    COLOR: #B50003;
    HEIGHT: 31px;
    BACKGROUND-COLOR: #FFEDE9;
    TEXT-ALIGN: left
}
.right02 {
    CLEAR: left;
    BORDER: #F2D8D9 1px solid;
    WIDTH: 246px;
    HEIGHT: auto
}
.title_right01 {
    height: auto;
    clear: left;
    width: 246px;
    background-color: #FFFFFF;
    padding-bottom: 8px;
    border-top-style: none;
}
.schoolnews02 {
    width: 635px;
    height: 31px;
    background-color: #FFEDE9;
    margin-top: 1px;
    font-size: 18px;
    font-weight: bold;
    color: #B50003;
    text-align: center;
    line-height: 31px;
    margin-bottom: 20px;
}
.schoolnews01 {
    clear: left;
    width: 638px;
    height: auto;
    border: solid 1px #F2D8D9;
}
.infor2 {
    font-size: 14px;
    color: #D20004;
    margin-left: 10px;
    height: auto;
    overflow: hidden;
    font-weight: bold;
    float: left;
}
.infor6 {
    font-size: 14px;
    font-weight: bold;
    color: #D20004;
    text-align: left;
    margin-left: 10px;
}
.courseList10 {
    clear: left;
    width: 638px;
    height: auto;
    border: solid 1px #F2D8D9;
}
.courseList11 {
    width: 190px;
    height: 24px;
    margin-left: 10px;
    line-height: 24px;
    color: #D20004;
    float: left
}
.sstable {
    BACKGROUND-COLOR: #FFEDE9;
}
/*链接样式*/

.link12px659 {
    font-size: 12px;
    color: #555555;
    text-decoration: none;
}
.link12px659 a:link, .link12px659 a:visited {
    font-size: 12px;
    color: #555555;
    text-decoration: none;
}
.link12px659 a:hover {
    font-size: 12px;
    color: #A5500F;
    text-decoration: underline;
}
.link14265df {
    font-size: 14px;
    color: #583517;
    text-decoration: none;
}
.link14265df a:link, .link14265df a:visited {
    font-size: 14px;
    color: #583517;
    text-decoration: none;
}
.link14265df a:hover {
    font-size: 14px;
    color: #A5500F;
    text-decoration: underline;
}
.link18px002 {
    font-size: 18px;
    color: #B50003;
    text-decoration: none;
    font-weight: bold;
}
.link18px002 a:link, .link18px002 a:visited {
    font-size: 18px;
    color: #B50003;
    text-decoration: none;
    font-weight: bold;
}
.link18px002 a:hover {
    font-size: 18px;
    color: #B50003;
    text-decoration: underline;
    font-weight: bold;
}
.link12pxblue659 {
    font-size: 12px;
    color: #583517;
    text-decoration: none;
}
.link12pxblue659 a:link, .link12pxblue659 a:visited {
    font-size: 12px;
    color: #583517;
    text-decoration: none;
}
.link12pxblue659 a:hover {
    font-size: 12px;
    color: #A5500F;
    text-decoration: underline;
}
.link18053 {
    font-size: 18px;
    color: #583517;
    text-decoration: none;
    font-weight: bold;
}
.link18053 a:link, .link18053 a:visited {
    font-size: 18px;
    color: #583517;
    text-decoration: none;
    font-weight: bold;
}
.link18053 a:hover {
    font-size: 18px;
    color: #A5500F;
    text-decoration: underline;
    font-weight: bold;
}
.link12pxblue6592 {
    font-size: 12px;
    color: #583517;
    text-decoration: underline;
}
.link12pxblue6592 a:link, .link12pxblue6592 a:visited {
    font-size: 12px;
    color: #583517;
    text-decoration: underline;
}
.link12pxblue6592 a:hover {
    font-size: 12px;
    color: #A5500F;
    text-decoration: underline;
}
.b598 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.linkDDDDDD {
    font-size: 12px;
    color: #DDDDDD;
    text-decoration: none;
    font-weight: normal;
}
.linkDDDDDD a:link, .linkDDDDDD a:visited {
    font-size: 12px;
    color: #DDDDDD;
    text-decoration: none;
    font-weight: normal;
}
.linkDDDDDD a:hover {
    font-size: 12px;
    color: #DDDDDD;
    text-decoration: underline;
    font-weight: normal;
}
.more598 {
    float: right;
    margin-right: 10px;
}
.sright1 {
    float: left;
    width: 278px;
    padding: 10px;
    background-color: #F8F8F8;
    overflow: hidden
}
.sright1 ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.sright1 li {
    padding: 0px;
    margin: 0px;
    line-height: 23px;
    border-bottom: dashed 1px #CDCDCD;
    list-style: none;
    width: 270px;
}
.b601 {
    height: 30px;
    line-height: 30px;
    background-image: url(/images/bg10.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
}
.sright05 {
    float: left;
    width: 236px;
    background-image: url(/images/bg11.jpg);
    background-repeat: no-repeat;
    height: 30px;
    line-height: 30px;
    padding-left: 42px;
}
.sright05 div {
    float: left;
    width: 115px;
}
.link002 {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:link, .link002 a:visited {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: none;
}
.link002 a:hover {
    font-size: 12px;
    font-weight: normal;
    color: #5D030F;
    text-decoration: underline;
}


.kzcou01 {
    font-weight: bold;
    font-size: 12px;
    padding-left: 15px;
    margin-top: 10px;
}
.kzcou02 {
    padding-left: 15px;
    line-height: 25px;
    padding-right: 5px;
    padding-top: 5px;
}
.ncouinr1 {
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
#lianxitab td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
#lianxitab {
    margin-left: 10px;
}

.answer_content {
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.line {
    background: #E0E0E0;
    margin: 5px;
    margin-bottom: 10px;
    background-image: none;
    font-size: 1px;
    height: 1px;
    overflow: hidden
}
.answer_content div {
    padding-left: 20px
}
.answer_content li {
    list-style-type: none;
    line-height: 200%;
}
.answer {
    width: 605px;
    padding-left: 10px;
    padding-top: 5px
}
.answerTxt {
    font-weight: bold;
    font-size: 14px;
    color: #FF6600
}
.answer_txt {
    width: 150px;
    height: 20px;
    border: 1px solid #999
}
.answer li {
    list-style-type: none;
    padding-top: 10px
}
.answer_content2 {
    width: 600px;
    height: 80px;
    border: 1px solid #999
}
.answer .answertj {
    width: 100%;
    text-align: center;
}
.linkff6600 {
    font-size: px;
    color: #ff6600;
    text-decoration: none;
    font-weight: normal;
}
.linkff6600 a:link, .linkff6600 a:visited {
    font-size: px;
    color: #ff6600;
    text-decoration: none;
    font-weight: normal;
}
.linkff6600 a:hover {
    font-size: px;
    color: #ff6600;
    text-decoration: underline;
    font-weight: normal;
}
.b812 {
    height: 32px;
    line-height: 32px;
    background-image: url(/course/images/maintitle.gif);
    background-repeat: repeat-x;
    padding-left: 15px;
    font-weight: bold;
}
.more812 {
    float: right;
    margin-right: 10px;
}
.linkFF6600 {
    font-size: px;
    color: #FF6600;
    text-decoration: none;
    font-weight: normal;
}
.linkFF6600 a:link, .linkFF6600 a:visited {
    font-size: px;
    color: #FF6600;
    text-decoration: none;
    font-weight: normal;
}
.linkFF6600 a:hover {
    font-size: px;
    color: #FF6600;
    text-decoration: underline;
    font-weight: normal;
}
.b823 {
    height: 32px;
    line-height:32px;
    background-image:url(http://jn.edulife.com.cn/class/images/classtitle.gif);
    background-repeat:repeat-x;
    font-size:14px;
    padding-left:30px;
    font-weight:bold;
}
.more823 {
    float: right;
    margin-right: 10px;
}
.b819 {
    font-weight: normal;
}
.more819 {
    float: right;
    margin-right: 10px;
}
.b814 {
    height: 30px;
    line-height: 30px;
    background-image: url(/class/images/lettitle1.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 35px;
    font-weight: bold;
}
.more814 {
    float: right;
    margin-right: 10px;
}
.b817 {
    height: 30px;line-height:30px;background-image:url(http://jn.edulife.com.cn/class/images/lettitle1.jpg);background-repeat:repeat-x;font-size:14px;padding-left:35px;font-weight:bold;}
.more817 {}
.b835 {
    height: 30px;line-height:30px;background-image:url(http://jn.edulife.com.cn/class/images/lettitle1.jpg);background-repeat:repeat-x;font-size:14px;padding-left:35px;font-weight:bold;}
.more835 {
    float: right;
    margin-right: 10px;
}
.b820 {
    height: 33px;
    line-height: 33px;
    background-image: url(/course/images/classtitle.gif);
    background-repeat: repeat-x;
    font-size: 14px;
    padding-left: 20px;
    font-weight: bold;
}
.more820 {
    float: right;
    margin-right: 10px;
}
.answer_820 .user820 {
    background-color: #FFFEEF;
}
.ansordct820 {
    color: #FFFEEF
}
.answer_820 .admin820 {
    color: #FF0000;
    font-weight: bold
}
.answer_820 li {
    background-image: url(/course/images/answer_logo.gif);
    background-repeat: no-repeat;
    background-position: 6px 7px;
    z-index: 100;
}
.clatit01 {
    text-align: center;
    color: #5D030F;
    margin-top: 20px;
}
.clatit02 {
    text-align: center;
    margin-top: 8px;
}
.clatit02 a:link {
    color: #0000ff;
    font-size: 14px;
    text-decoration: none;
}
.clatit02 a:hover {
    color: #0000ff;
    font-size: 14px;
    text-decoration: underline;
}
.clatit02 a:visited {
    color: #cc0000;
    font-size: 14px;
    text-decoration: underline;
}
.tabclas1 {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
#clastab01 tr {
    height: 26px;
}
#clastab01, #clastab02 {
    border: solid 1px #CCCCCC
}
#clastab01 tr td {
    font-size: 14px;
    text-align: center;
    border: solid 1px #CCCCCC
}
#clastab02 tr td {
    font-size: 14px;
    text-align: center;
    border: solid 1px #CCCCCC;
    padding: 4px;
    line-height: 160%;
    text-align: left;
}
.inptclas1 {
    height: 18px;
    width: 120px;
    vertical-align: middle;
    padding: 3px 10px;
    font: 14px/18px Helvetica, Verdana, sans-serif;
    border: solid 1px #CCCCCC;
}
.inptclas2 {
    height: 18px;
    width: 240px;
    vertical-align: middle;
    padding: 3px 10px;
    font: 14px/18px Helvetica, Verdana, sans-serif;
    border: solid 1px #CCCCCC;
}
.inptclas3 {
    height: 70px;
    width: 360px;
    vertical-align: middle;
    padding: 3px 10px;
    font: 14px/18px Helvetica, Verdana, sans-serif;
    border: solid 1px #CCCCCC;
}
.link14red {
    color: #ff0000;
    font-size: 14px;
    text-decoration: underline;
}
.link14red a:link, .link14red a:visited {
    color: #ff0000;
    font-size: 14px;
    text-decoration: underline;
}
.link14red a:hover {
    color: #ff0000;
    font-size: 14px;
    text-decoration: underline;
}
#divenroll li {
    margin-top: 5px;
}
#divenroll {
    color: #484847;
}